@import '../../styles/settings.scss';

::-webkit-scrollbar {
    width: 10px;

    &-track {
        background-color: $main-color;
    }

    &-thumb {
        background-color: $second-color; 
        border-radius: 10px;
    }
  }

.main-content {
    background-color: $color-light;
    max-width: 800px;
    max-height: 100vh;
    margin-right: 520px;
    margin-left: 100px;
    border-radius: 3px;

    .post-list {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 480px;

        .posts {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}