@import '../../styles/settings.scss';

.main-content {
    background-color: $color-light;
    max-width: 800px;
    max-height: 100vh;
    margin-right: 520px;
    margin-left: 100px;
    border-radius: 3px;

    .post-list {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 480px;

        .posts {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}